* {
  box-sizing: border-box;
}

body {
  color: #FFFFFF;
  background-color: #000000;
  font-family: Cartogothic, Nimbus Sans, Inter, serif;
  margin: auto;
  padding: 0.5rem;
  width: 85vw;
}

header {
  width: inherit;
  height: 5vw;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: black;
  top: 0;
  padding: 0 0 8rem 0;
}

header > h1 {
  color: #F5DB37;
  font-size: min(5vw, 3rem);
}
header > nav {
  font-size: min(4vw, 2rem);
}

nav > ul {
  display: flex;
  justify-content: space-between;
}

nav > ul > li {
  display: block;
  padding: 0.5rem;
  font-size: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

#image {
  width: 50vw;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10rem auto auto auto;
}

#img-caption {
  text-align: center;
  padding: 0.5rem;
  font-style: italic;
}

#artworks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 0;
}

#artworks figcaption {
  text-align: center;
  font-size: max(0.95vw, 0.85rem);
  font-style: italic;
}

#artworks img {
  width: 100%;
  height: 18rem;
  max-width: 20rem;
  object-fit: cover;
}

#tribute-info {
  text-align: center;
  line-height: 1.75;
  font-size: min(3vw, 1rem);
}

#facts {
  font-size: inherit;
}

.keyword {
  font-style: italic;
}

ul > li {
  line-height: 1.75;
  font-size: min(3vw, 1rem);
}

h2 {
  text-align: center;
  margin: auto;
  font-size: min(5vw, 3rem);
  font-weight: 300;
  border-top: solid 0.25rem white;
  padding: 2rem;
}